.App {
  min-height: 100vh;
  background: linear-gradient(120deg, #005a48 0%, #002019 100%);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
}
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
